<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
    <title>Mercado liebre</title>
</head>

<body>
    <header>
        <div class="buscar_lupa">
            <img class="mercado" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            <div class="search_bar">
                <input class="input_" type="search" placeholder=" Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="texto_i"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>
        <nav class="navbar">
            <ul class="izquierda">
                <li> <a href="">Ofertas</a></li>
                <li> <a href="">Tiendas Oficiales</a></li>
                <li> <a href="">Vender</a></li>
                <li> <a href="">Ayuda</a></li>
            </ul>
            <ul class="derecha">
                <li> <a href="register.html">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li> <a class="login_bar" href="login.html">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li> <a href="">Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="bar_menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <div class="logo">
        <img src="images/banner.jpg" alt="banner.jp">
    </div>
    <main class="main">
        <h2>Basado en tus busquedas</h2>
        <section class="ultimas_busquedas">

            <article class="articulo">
                <img src="images/cafetera.jpg" width="100%" alt="imagen cafetera Moulinex">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$6.770</p>
                        <p class="descuentos">40% OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="images/mackbook.jpg" width="100%" alt="imagen mackbook pro">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripcion">Mackbook Pro 2022</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="images/galaxy.jpg" width="100%" alt=" imagen Galaxy S10">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio"> $230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="images/smartv.jpg" width="100%" alt=" imagen tv smartv">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripcion">Smar Tv 43'</h4>
                </div>
            </article>
        </section>
        <h2>Ofertas</h2>
        <section class="ultimas_ofertas">
            <article class="articulo">
                <img src="images/cafetera.jpg" width="100%" alt="imagen cafetera Moulinex">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20%OFF</p>
                    </div>
                    <h4 class="descripcion">Cafetera Moulinex</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="images/mackbook.jpg" width="100%" alt="imagen mackbook pro">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripcion">Mackbook Pro 2022</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="images/galaxy.jpg" width="100%" alt=" imagen Galaxy S10">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripcion">Samsung Galaxy S10</h4>
                </div>
            </article>
            <article class="articulo">
                <img src="images/smartv.jpg" width="100%" alt=" imagen tv smartv">
                <div class="info_productos">
                    <i class="fa-solid fa-truck"></i>
                    <div class="pre_des">
                        <p class="precio">$230.000</p>
                        <p class="descuentos">20% OFF</p>
                    </div>
                    <h4 class="descripcion">Smar Tv 43'</h4>
                </div>
            </article>
        </section>
    </main>

    <footer class="footer">
        <section class="secfooter">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p class="textoFo">Con Mercado Libre Cash, tienes cuotas sin interes o efectivo en puntos
                de pago. ¡Y siempre seguro!
            </p>
            <p class="textoFo"> Copyright &#169 1999-2022 Mercadop Liebre D.A.C </p>
        </section>
        <section class="secfooter">
            <i class="fa-solid fa-gift"></i>
            <h3>Envio gratis desde $2.500</h3>
            <p class="textoFo">Solo por estar registad@ rn Mercado Libre tienes envios gratis en miles
                de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="secfooter">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="textoFo">¿No te gusta? ¡Devuelvelo! En mercado Liebre no hay nada que nos podas hacer,
                por que estas siempre protegid@.
            </p>           
        </section>
        
      
        

    </footer>

</body>

</html>