<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="buscar_lupa">
            <img class="mercado" src="images/logo-mercado-liebre.svg" alt="logo mercado liebre">
            <div class="search_bar">
                <input class="input_" type="search" placeholder=" Buscar productos, marcas">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="texto_i"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de
                crédito</p>
        </div>
        <nav class="navbar">
            <ul class="izquierda">
                <li> <a href="">Ofertas</a></li>
                <li> <a href="">Tiendas Oficiales</a></li>
                <li> <a href="">Vender</a></li>
                <li> <a href="">Ayuda</a></li>
            </ul>
            <ul class="derecha">
                <li> <a href="">Crea tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li> <a class="login_bar" href="">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li> <a href="">Compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="bar_menu">
            <i class="fa-solid fa-bars"></i>
        </div>
    </header>
    <main>
        <form class="form_login" action="/" method="get">            
                <input class="inpp" type="email" name="usuario" placeholder="Usuario" required>                
                <input class="inpp" type="password" name="contrseña" placeholder="Contraseña" required>                
                <input type="submit" class="btn" name="enviar">             
        </form>
    </main>
    <footer class="footer">
        <section class="secfooter">
            <i class="fa-solid fa-credit-card"></i>
            <h3>Pagá con tarjeta o efectivo</h3>
            <p class="textoFo">Con Mercado Libre Cash, tienes cuotas sin interes o efectivo en puntos
                de pago. ¡Y siempre seguro!
            </p>
            <p class="textoFo"> Copyright &#169 1999-2022 Mercadop Liebre D.A.C </p>
        </section>
        <section class="secfooter">
            <i class="fa-solid fa-gift"></i>
            <h3>Envio gratis desde $2.500</h3>
            <p class="textoFo">Solo por estar registad@ rn Mercado Libre tienes envios gratis en miles
                de productos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section class="secfooter">
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p class="textoFo">¿No te gusta? ¡Devuelvelo! En mercado Liebre no hay nada que nos podas hacer,
                por que estas siempre protegid@.
            </p>           
        </section>
        
      
        

    </footer>
</body>